/* .Request-Card-Collection-Bundle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  width: 100%;
} */

.Location-icon {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: left;
  padding: 5px 5px 5px 5px;
  margin-bottom: 10px;
}

.Location-icon-region {
  font-size: 12px;
}

.Card-avatar-header-name-placement {
  display: flex;
  flex: row;
  align-items: left;
  justify-content: left;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.Card-request-date-time-icon-flex-column {
  display: flex;
  flex-direction: column;
}

.Card-request-date-time-icon {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: left;
  /* padding: 5px; */
  /* margin: 5px; */
}

.Card-request-date-time-icon div {
  /* padding: 5px; */
  margin-left: 5px;
}

.Card-pet-info-flex {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.Card-pet-info-flex div {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: 0px 10px; */
  padding: 2px 5px;
}

.Card-pet-info-icon {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

.Card-request-important-info {
  display: flex;
  flex-direction: row;
}

.Card-request-important-info-budget {
  display: flex;
  flex-direction: column;
  color: #00685b;
  font-weight: 800;
  font-size: 22px;

  text-align: right;
  margin-left: 30px;
  justify-content: center;
  flex-grow: 1;
}

.Card-request-important-info-budget-small-p {
  color: #00685b;
  font-weight: 200;
  text-align: right;
  margin-left: auto;
  font-size: 12px;
  justify-content: center;
}

.Card-request-pet-walk-budget {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
