.Weather-call-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
  background-color: #00685b;
  color: white;
}

.Weather-call-header {
  font-size: 3vh;
  font-weight: 500;
  margin: 10px 10px;
}

.Weather-call-message {
  font-size: 2vh;
  margin: 10px 10px;
}

.Weather-call-main-flex-container {
  margin-right: auto;
  text-align: left;
}

.Weather-call-description {
  display: flex;
  font-size: 2.5vh;
  margin: 10px 10px;
  text-align: center;
  font-weight: 500;
  align-items: center;
}

.Weather-call-temperature {
  display: flex;
  margin-right: auto;
  text-align: left;
  align-items: center;
  font-size: 2.5vh;
  margin: 10px 10px;
}

.Posted-request-card-pet-name {
  font-weight: 500;
  display: flex;
  text-align: left;
  align-items: center;
  margin-right: auto;
  font-size: 2vh;
  color: #00685b;
}

.Posted-request-posted-date {
  color: dimgrey;
  display: flex;
  text-align: right;
  align-items: center;
  font-size: 1.5vh;
  margin: auto;
}

.Posted-request-posted-status {
  display: flex;
  text-align: right;
  align-items: center;
  margin: auto;
  color: red;
}

.Card-request-walk-budget-icon {
  font-size: 1.8vh;
  color: #00685b;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: right;
}

.Scheduled-page-request-card-pet-info-icon {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

.Scheduled-page-card-avatar-header-name-placement {
  display: flex;
  flex: row;
  align-items: left;
  justify-content: left;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.Scheduled-page-card-address {
  text-align: left;
  overflow-wrap: break-word;
  font-size: 14px;
}
